@import url('https://fonts.googleapis.com/css?family=Roboto:200,300');

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #D7D8D7;

}

ul {
  list-style: none;
  padding: 0;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
}
.small-container {
  padding: 3em 1em;
  max-width: 300px;
  margin: 0 auto;
}

header {
  text-align: center;
  background-color: #8e0000;
  color: #ffffff;
  padding: .05em 0;
}

header h1 {
  font-weight: 300;
}

form .field {
  margin-bottom: .5em;
  display: flex;
  justify-content: space-between;
}

form .field.inputs {
  display: block;

}
form .field label {
  font-size: 1.2em;
  margin-right: 1em;
}

form .field select {
  width: 50%;
  font-size: 1em;
}

form .field input {
  font-size: 1em;
}

form .field input:last-child {
  margin-left: 1em;
}

form button {
  width: 100%;
  appearance: none;
  background-color: #c62828;
  color: #ffffff;
  font-size: 1.3em;
  padding: .5em 0;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  transition: all .3s ease;
  cursor: pointer;
  border: none;
  margin-top: 1em;
}

form button:hover {
  background-color: #ff5f52;
  color: black;
}

.summary,
.total {
  background-color: #ffcdd2;
  margin-top: 2em;
  padding: .5em 2em;
}

.total {
  text-align: center;
  margin-top: 1rem
}

span.result {
  position: relative;
  width: 100%;
}

.result-enter {
  transition: .5s;
  transform: translateY(120%);
}

.result-enter.result-enter-active {
  transform: translateY(120%);
}

.result-exit {
  transform: translateY(0);
  transition: .5s;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.result-exit-active {
  opacity: 0;
  transform: translateY(-100%);
}